:root {
    --main-bg-color: #E4D6A7;

    --text-color: #0F0905;
    --title-primary-color: hsl(9, 76%, 40%);
    --title-secondary-color: hsl(9, 76%, 35%);
    --blog-header-bg:hsl(46, 53%, 67%);

    --article-title-color:hsl(9, 76%, 40%);
    --articleShowCaseContainer-bg-color: hsl(46, 53%, 60%);
    --articleShowCaseContainer-hover-color: hsl(46, 53%, 45%);

    --article-in-title-color: hsl(195, 30%, 49%);
  
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }
  
  .blogHeaderContainer {
    background-color: var(--blog-header-bg);
  }
  
  #blogName {
    color: var(--title-primary-color);
  }
  
  #slogan {
    color: var(--title-secondary-color);
  }
  
  .articleShowCaseContainer {
    background-color: var(--articleShowCaseContainer-bg-color);
  }
  
  .articleShowCaseContainer:hover {
    background-color: var(--articleShowCaseContainer-hover-color);
  }
  
  .titleDateContainer {
    color: var(--article-title-color);
    border-bottom: 2px solid var(--article-title-color);
  }
  
  .articleContainer h1 {
    color: var(--article-in-title-color);
    border-bottom: 3px solid var(--article-in-title-color);
  }
  
  .tooltip-text {
    background-color: var(--article-in-title-color);
    color: var(--text-color);
  }
  .dynamicToolTipText{
    color: var(--article-title-color);
  }