:root {
    --main-bg-color: #E4D6A7;
    --text-color: #000000;
    --title-primary-color: #b43018;
    --title-secondary-color: #ed333b;
    --blog-header-bg: #d7c37e;
    --article-title-color: #b43018;
    --articleShowCaseContainer-bg-color: #cfb663;
    --articleShowCaseContainer-hover-color: #b09336;
    --article-in-title-color: #5790a2;
  }